.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: contain;
}

#header-img {
    height: 3rem;
}

input {
    width: 100%
}

#hidden {
    display: None;
}

#header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

#header a {
    text-decoration: none;
}

#title-col:hover {
    opacity: .5;
}

#content {
    height: 100%;
    overflow: auto;
    position: relative;
}
